<a href="https://colab.research.google.com/github/Venkateshvk29/Rlab/blob/main/R_mini_projectRollno56.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
info<-read.csv("https://raw.githubusercontent.com/Venkateshvk29/Rlab/main/healthcare-dataset-stroke-data.csv")
info

     id    gender age   hypertension heart_disease ever_married work_type
1     9046 Male   67    0            1             Yes          Private
2    51676 Female 61    0            0             Yes          Self-employed
3    31112 Male   80    0            1             Yes          Private
4    60182 Female 49    0            0             Yes          Private
5     1665 Female 79    1            0             Yes          Self-employed
6    56669 Male   81    0            0             Yes          Private
7    53882 Male   74    1            1             Yes          Private
8    10434 Female 69    0            0             No           Private
9    27419 Female 59    0            0             Yes          Private
10   60491 Female 78    0            0             Yes          Private
11   12109 Female 81    1            0             Yes          Private
12   12095 Female 61    0            1             Yes          Govt_job
13   12175 Female 54    0            0             Yes          Private
14    8213 Male   78    0            1             Yes          Private
15    5317 Female 79    0            1             Yes          Private
16   58202 Female 50    1            0             Yes          Self-employed
17   56112 Male   64    0            1             Yes          Private
18   34120 Male   75    1            0             Yes          Private
19   27458 Female 60    0            0             No           Private
20   25226 Male   57    0            1             No           Govt_job
21   70630 Female 71    0            0             Yes          Govt_job
22   13861 Female 52    1            0             Yes          Self-employed
23   68794 Female 79    0            0             Yes          Self-employed
24   64778 Male   82    0            1             Yes          Private
25    4219 Male   71    0            0             Yes          Private
26   70822 Male   80    0            0             Yes          Self-employed
27   38047 Female 65    0            0             Yes          Private
28   61843 Male   58    0            0             Yes          Private
29   54827 Male   69    0            1             Yes          Self-employed
30   69160 Male   59    0            0             Yes          Private
⋮    ⋮     ⋮      ⋮     ⋮            ⋮             ⋮            ⋮
5081 22691 Female 29.00 0            0             Yes          Self-employed
5082 37680 Male   55.00 0            0             Yes          Govt_job
5083 24552 Female 44.00 0            0             Yes          Private
5084 72914 Female 19.00 0            0             No           Private
5085 29540 Male   67.00 0            0             Yes          Private
5086 53525 Female 72.00 0            0             Yes          Private
5087 65411 Female 51.00 0            0             Yes          Private
5088 26214 Female 63.00 0            0             Yes          Self-employed
5089 22190 Female 64.00 1            0             Yes          Self-employed
5090 56714 Female  0.72 0            0             No           children
5091  4211 Male   26.00 0            0             No           Govt_job
5092  6369 Male   59.00 1            0             Yes          Private
5093 56799 Male   76.00 0            0             Yes          Govt_job
5094 32235 Female 45.00 1            0             Yes          Govt_job
5095 28048 Male   13.00 0            0             No           children
5096 68598 Male    1.08 0            0             No           children
5097 41512 Male   57.00 0            0             Yes          Govt_job
5098 64520 Male   68.00 0            0             Yes          Self-employed
5099   579 Male    9.00 0            0             No           children
5100  7293 Male   40.00 0            0             Yes          Private
5101 68398 Male   82.00 1            0             Yes          Self-employed
5102 36901 Female 45.00 0            0             Yes          Private
5103 45010 Female 57.00 0            0             Yes          Private
5104 22127 Female 18.00 0            0             No           Private
5105 14180 Female 13.00 0            0             No           children
5106 18234 Female 80.00 1            0             Yes          Private
5107 44873 Female 81.00 0            0             Yes          Self-employed
5108 19723 Female 35.00 0            0             Yes          Self-employed
5109 37544 Male   51.00 0            0             Yes          Private
5110 44679 Female 44.00 0            0             Yes          Govt_job
     Residence_type avg_glucose_level bmi  smoking_status  stroke
1    Urban          228.69            36.6 formerly smoked 1
2    Rural          202.21            N/A  never smoked    1
3    Rural          105.92            32.5 never smoked    1
4    Urban          171.23            34.4 smokes          1
5    Rural          174.12            24   never smoked    1
6    Urban          186.21            29   formerly smoked 1
7    Rural           70.09            27.4 never smoked    1
8    Urban           94.39            22.8 never smoked    1
9    Rural           76.15            N/A  Unknown         1
10   Urban           58.57            24.2 Unknown         1
11   Rural           80.43            29.7 never smoked    1
12   Rural          120.46            36.8 smokes          1
13   Urban          104.51            27.3 smokes          1
14   Urban          219.84            N/A  Unknown         1
15   Urban          214.09            28.2 never smoked    1
16   Rural          167.41            30.9 never smoked    1
17   Urban          191.61            37.5 smokes          1
18   Urban          221.29            25.8 smokes          1
19   Urban           89.22            37.8 never smoked    1
20   Urban          217.08            N/A  Unknown         1
21   Rural          193.94            22.4 smokes          1
22   Urban          233.29            48.9 never smoked    1
23   Urban          228.70            26.6 never smoked    1
24   Rural          208.30            32.5 Unknown         1
25   Urban          102.87            27.2 formerly smoked 1
26   Rural          104.12            23.5 never smoked    1
27   Rural          100.98            28.2 formerly smoked 1
28   Rural          189.84            N/A  Unknown         1
29   Urban          195.23            28.3 smokes          1
30   Rural          211.78            N/A  formerly smoked 1
⋮    ⋮              ⋮                 ⋮    ⋮               ⋮
5081 Urban           90.52            28   never smoked    0
5082 Rural          108.35            40.8 formerly smoked 0
5083 Rural           72.03            37.5 smokes          0
5084 Urban           90.57            24.2 Unknown         0
5085 Rural           97.04            26.9 smokes          0
5086 Urban           83.89            33.1 formerly smoked 0
5087 Urban          152.56            21.8 Unknown         0
5088 Rural           75.93            34.7 formerly smoked 0
5089 Urban           76.89            30.2 Unknown         0
5090 Rural           62.13            16.8 Unknown         0
5091 Rural          100.85            21   smokes          0
5092 Rural           95.05            30.9 never smoked    0
5093 Urban           82.35            38.9 never smoked    0
5094 Rural           95.02            N/A  smokes          0
5095 Urban           82.38            24.3 Unknown         0
5096 Rural           79.15            17.4 Unknown         0
5097 Rural           76.62            28.2 never smoked    0
5098 Urban           91.68            40.8 Unknown         0
5099 Urban           71.88            17.5 Unknown         0
5100 Rural           83.94            N/A  smokes          0
5101 Rural           71.97            28.3 never smoked    0
5102 Urban           97.95            24.5 Unknown         0
5103 Rural           77.93            21.7 never smoked    0
5104 Urban           82.85            46.9 Unknown         0
5105 Rural          103.08            18.6 Unknown         0
5106 Urban           83.75            N/A  never smoked    0
5107 Urban          125.20            40   never smoked    0
5108 Rural           82.99            30.6 never smoked    0
5109 Rural          166.29            25.6 formerly smoked 0
5110 Urban           85.28            26.2 Unknown         0

In [8]:
summary(info)

       id           gender               age         hypertension
 Min.   :   67   Length:5110        Min.   : 0.08   Min.   :0.00000
 1st Qu.:17741   Class :character   1st Qu.:25.00   1st Qu.:0.00000
 Median :36932   Mode  :character   Median :45.00   Median :0.00000
 Mean   :36518                      Mean   :43.23   Mean   :0.09746
 3rd Qu.:54682                      3rd Qu.:61.00   3rd Qu.:0.00000
 Max.   :72940                      Max.   :82.00   Max.   :1.00000
 heart_disease     ever_married        work_type         Residence_type
 Min.   :0.00000   Length:5110        Length:5110        Length:5110
 1st Qu.:0.00000   Class :character   Class :character   Class :character
 Median :0.00000   Mode  :character   Mode  :character   Mode  :character
 Mean   :0.05401
 3rd Qu.:0.00000
 Max.   :1.00000
 avg_glucose_level     bmi            smoking_status         stroke
 Min.   : 55.12    Length:5110        Length:5110        Min.   :0.00000
 1st Qu.: 77.25    Class :character   Class :character   1st Qu.:0.00000
 Median : 91.89    Mode  :character   Mode  :character   Median :0.00000
 Mean   :106.15                                          Mean   :0.04873
 3rd Qu.:114.09                                          3rd Qu.:0.00000
 Max.   :271.74                                          Max.   :1.00000

In [9]:
info[c("age")]

     age
1    67
2    61
3    80
4    49
5    79
6    81
7    74
8    69
9    59
10   78
11   81
12   61
13   54
14   78
15   79
16   50
17   64
18   75
19   60
20   57
21   71
22   52
23   79
24   82
25   71
26   80
27   65
28   58
29   69
30   59
⋮    ⋮
5081 29.00
5082 55.00
5083 44.00
5084 19.00
5085 67.00
5086 72.00
5087 51.00
5088 63.00
5089 64.00
5090  0.72
5091 26.00
5092 59.00
5093 76.00
5094 45.00
5095 13.00
5096  1.08
5097 57.00
5098 68.00
5099  9.00
5100 40.00
5101 82.00
5102 45.00
5103 57.00
5104 18.00
5105 13.00
5106 80.00
5107 81.00
5108 35.00
5109 51.00
5110 44.00

In [10]:
nameAge <-info[c("gender","age")]
nameAge

     gender age
1    Male   67
2    Female 61
3    Male   80
4    Female 49
5    Female 79
6    Male   81
7    Male   74
8    Female 69
9    Female 59
10   Female 78
11   Female 81
12   Female 61
13   Female 54
14   Male   78
15   Female 79
16   Female 50
17   Male   64
18   Male   75
19   Female 60
20   Male   57
21   Female 71
22   Female 52
23   Female 79
24   Male   82
25   Male   71
26   Male   80
27   Female 65
28   Male   58
29   Male   69
30   Male   59
⋮    ⋮      ⋮
5081 Female 29.00
5082 Male   55.00
5083 Female 44.00
5084 Female 19.00
5085 Male   67.00
5086 Female 72.00
5087 Female 51.00
5088 Female 63.00
5089 Female 64.00
5090 Female  0.72
5091 Male   26.00
5092 Male   59.00
5093 Male   76.00
5094 Female 45.00
5095 Male   13.00
5096 Male    1.08
5097 Male   57.00
5098 Male   68.00
5099 Male    9.00
5100 Male   40.00
5101 Male   82.00
5102 Female 45.00
5103 Female 57.00
5104 Female 18.00
5105 Female 13.00
5106 Female 80.00
5107 Female 81.00
5108 Female 35.00
5109 Male   51.00
5110 Female 44.00

In [14]:
Nseries = function(n,m){
  a=n+m
  info[n:a,]
}

In [15]:
Nseries(2,3)

  id    gender age hypertension heart_disease ever_married work_type
2 51676 Female 61  0            0             Yes          Self-employed
3 31112 Male   80  0            1             Yes          Private
4 60182 Female 49  0            0             Yes          Private
5  1665 Female 79  1            0             Yes          Self-employed
  Residence_type avg_glucose_level bmi  smoking_status stroke
2 Rural          202.21            N/A  never smoked   1
3 Rural          105.92            32.5 never smoked   1
4 Urban          171.23            34.4 smokes         1
5 Rural          174.12            24   never smoked   1

In [17]:
colSums(is.na(info))

               id            gender               age      hypertension
                0                 0                 0                 0
    heart_disease      ever_married         work_type    Residence_type
                0                 0                 0                 0
avg_glucose_level               bmi    smoking_status            stroke
                0                 0                 0                 0

In [19]:
sample_info_1less <- subset(info,select = -c(bmi))
head(sample_info_1less)

  id    gender age hypertension heart_disease ever_married work_type
1  9046 Male   67  0            1             Yes          Private
2 51676 Female 61  0            0             Yes          Self-employed
3 31112 Male   80  0            1             Yes          Private
4 60182 Female 49  0            0             Yes          Private
5  1665 Female 79  1            0             Yes          Self-employed
6 56669 Male   81  0            0             Yes          Private
  Residence_type avg_glucose_level smoking_status  stroke
1 Urban          228.69            formerly smoked 1
2 Rural          202.21            never smoked    1
3 Rural          105.92            never smoked    1
4 Urban          171.23            smokes          1
5 Rural          174.12            never smoked    1
6 Urban          186.21            formerly smoked 1

In [20]:
summary(sample_info_1less)

       id           gender               age         hypertension
 Min.   :   67   Length:5110        Min.   : 0.08   Min.   :0.00000
 1st Qu.:17741   Class :character   1st Qu.:25.00   1st Qu.:0.00000
 Median :36932   Mode  :character   Median :45.00   Median :0.00000
 Mean   :36518                      Mean   :43.23   Mean   :0.09746
 3rd Qu.:54682                      3rd Qu.:61.00   3rd Qu.:0.00000
 Max.   :72940                      Max.   :82.00   Max.   :1.00000
 heart_disease     ever_married        work_type         Residence_type
 Min.   :0.00000   Length:5110        Length:5110        Length:5110
 1st Qu.:0.00000   Class :character   Class :character   Class :character
 Median :0.00000   Mode  :character   Mode  :character   Mode  :character
 Mean   :0.05401
 3rd Qu.:0.00000
 Max.   :1.00000
 avg_glucose_level smoking_status         stroke
 Min.   : 55.12    Length:5110        Min.   :0.00000
 1st Qu.: 77.25    Class :character   1st Qu.:0.00000
 Median : 91.89    Mode  :character   Median :0.00000
 Mean   :106.15                       Mean   :0.04873
 3rd Qu.:114.09                       3rd Qu.:0.00000
 Max.   :271.74                       Max.   :1.00000